.main__header__router {
  height: calc(100% - 320px);
  padding:45px 45px 65px 45px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main {
  display: grid;
}

.main__header {
  grid-area: 1 / 1 / 2 / 12;
  height: 100vh;

}

.main__side-bar {
  grid-area: 1 / 12 / 2 / 13;
}
