<div class="studies">
  <div class="studies__title">
    <h1 class="h1">исследования</h1>
    <div>
      <p class="paragraph">В этом разделе собраны ключевые исследования и академические работы, на которых базируется
        каталог манипулятивных паттернов. </p>
      <p class="paragraph">Эти материалы служат фундаментом для понимания природы манипулятивного дизайна и помогают
        систематизировать знания для практического использования.</p>
    </div>
  </div>

  <div class="studies__list">
    @for (study of studies(); track study.id) {
      <a class="studies__card-wrap" [href]="study.url" target="_blank">

        <div class="studies__card">

          <div class="studies__image-wrap">
            <img class="studies__image" [src]="images[study.index_image]" alt="">
          </div>
          <div class="studies__text">

            <div class="studies__text-wrap">
              <p class="studies__author">{{ study.author }}—{{ study.created_year }}</p>

              <h2 class="h2 studies__title-test">{{ study.title }}</h2>

            </div>
          </div>

          <div style="max-width: fit-content">
            <div class="studies__original_title">
              <p class="studies__original_title-text">{{ study.original_title }}</p>
            </div>
          </div>

            <div class="studies__line"></div>

            <div class="studies__description">
              <p class="paragraph">{{ study.description }}</p>
            </div>
          </div>


      </a>
    }

  </div>

</div>
