.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

.main__header {
  grid-area: 1 / 1 / 2 / 11;
  height: 100vh;
}

.main__side-bar {
  grid-area: 1 / 11 / 2 / 13;
}

.main__header__router {
  height: calc(100% - 110px);
  overflow: auto;
  margin-left: 55px;
}
