<div class="about">
  <div class="about__title">

    <div class="about__title__image-wrap">
      <img src="logos/logo_about.svg" alt="" class="about__title__image">
    </div>
    <p class="paragraph">
      Интерактивный каталог манипулятивных паттернов интерфейса — это цифровой ресурс, систематизирующий примеры
      и механики так называемых «тёмных паттернов» (dark patterns), используемых в современных цифровых продуктах.
    </p>

  </div>

  <div class="about__why-project-wrap">
    <h2 class="h3_Aeonik-pro">почему возник проект BADD?</h2>

    <div class="about__why-project">

      <p class="paragraph">
        Проект создан с целью повышения осведомлённости о манипулятивных интерфейсных решениях и их влиянии на поведение
        пользователей.
      </p>

      <div class="about__why-project-info">
        <p class="paragraph">Работая с современными сервисами, можно заметить повторяющиеся механики: скрытые опции
          отказа, усложнённые сценарии отмены, эмоциональное давление через текст, преднамеренно выделенные «нужные»
          кнопки. Эти решения часто оправдываются метриками и бизнес-целями, но редко анализируются как системное
          явление
          внутри дизайн-практики.
          Возникла необходимость структурировать эти механики — не в формате разрозненных статей или обсуждений,
          а как целостный каталог с классификацией, примерами и исследовательской базой.</p>
        <p class="paragraph">Проект появился как ответ на профессиональный запрос: создать инструмент, который помогает
          видеть манипулятивные паттерны не интуитивно, а осознанно — понимать их механику, контекст применения
          и влияние
          на пользователя.</p>
        <p class="paragraph">Это не попытка дать готовые ответы, а способ зафиксировать реальность современной цифровой
          среды и сделать её прозрачнее для тех, кто её проектирует.</p>
      </div>


    </div>
  </div>

  <div class="line"></div>

  <div class="about__research-wrap">
    <h2 class="h3_Aeonik-pro">От личного опыта к исследованию</h2>

    <div class="about__research">
      <p class="paragraph">
        В процессе обучения и работы с интерфейсами стало очевидно, что о манипулятивных паттернах говорят фрагментарно.
        Термин «dark patterns» встречается в статьях и исследованиях, но удобного для изучения ресурса с примерами,
        классификацией и разбором механик практически нет — особенно на русском языке.
      </p>

      <div class="about__research-info">
        <p class="paragraph">Возникло ощущение разрыва между практикой и её осмыслением: интерфейсы активно используют
          поведенческие механики, а инструмента для их системного анализа почти нет.</p>
        <p class="paragraph">Проект стал попыткой закрыть этот разрыв.</p>
        <p class="paragraph">Интерактивный каталог создаётся как исследовательская и образовательная платформа, которая
          фиксирует манипулятивные паттерны, показывает их в контексте реальных сценариев и связывает с когнитивными
          механизмами.
          Это не критика индустрии и не моральная позиция. Это попытка сделать профессиональный инструмент — для
          анализа, обсуждения и осознанного проектирования.</p>
      </div>

    </div>

  </div>


  <div class="about__footer-wrap">
    <div class="about__footer">

      <div class="about__footer-image-wrap">
        <img src="about/photo-author_about.png" alt="">
      </div>

      <div class="about__footer__about-author">
        <h2 class="h3_Aeonik-pro about__footer__about-author__name">меня зовут татьяна</h2>

        <h2 class="h3_Aeonik-pro">Вопросы и предложения можно направить по указанным контактам.</h2>

        <div class="about__footer__icons">
          <a href="mailto:tat.wolf.work@gmail.com" class="icon__button" type="email">

            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1" y="1" width="33" height="33" rx="16.5" stroke="black" stroke-width="2"/>
              <g clip-path="url(#clip0_1899_106570)">
                <path
                  d="M10 15V23.125C10 23.2908 10.0658 23.4497 10.1831 23.5669C10.3003 23.6842 10.4592 23.75 10.625 23.75H24.375C24.5408 23.75 24.6997 23.6842 24.8169 23.5669C24.9342 23.4497 25 23.2908 25 23.125V15L17.5 10L10 15Z"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.1328 19.375L10.1953 23.5703" stroke="black" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M24.8047 23.5703L18.8672 19.375" stroke="black" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M25 15L18.8672 19.375H16.1328L10 15" stroke="#0C0C0C" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1899_106570">
                  <rect width="20" height="20" fill="white" transform="translate(7.5 7.5)"/>
                </clipPath>
              </defs>
            </svg>

          </a>
          <a href="https://t.me/wolf_eps" class="icon__button" target="_blank">

            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1" y="1" width="33" height="33" rx="16.5" stroke="black" stroke-width="2"/>
              <path
                d="M23.9289 10.3047L9.36642 14.4063C9.24246 14.4402 9.13196 14.5115 9.04997 14.6104C8.96798 14.7094 8.91849 14.8312 8.90824 14.9593C8.89799 15.0874 8.92748 15.2156 8.9927 15.3263C9.05791 15.437 9.15567 15.525 9.27267 15.5782L15.9602 18.7422C16.0912 18.8029 16.1964 18.9081 16.257 19.0391L19.4211 25.7266C19.4743 25.8436 19.5622 25.9414 19.673 26.0066C19.7837 26.0718 19.9118 26.1013 20.04 26.091C20.1681 26.0808 20.2899 26.0313 20.3888 25.9493C20.4878 25.8673 20.5591 25.7568 20.593 25.6328L24.6945 11.0703C24.7256 10.9641 24.7275 10.8514 24.7001 10.7441C24.6727 10.6369 24.6169 10.539 24.5386 10.4607C24.4603 10.3824 24.3624 10.3266 24.2551 10.2992C24.1479 10.2717 24.0352 10.2736 23.9289 10.3047V10.3047Z"
                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.1641 18.8359L19.6953 15.3047" stroke="black" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>

          </a>
        </div>

        <div class="line"></div>

        <div class="about__footer__info">

          <div class="about__footer__info-author">
            <p class="paragraph-tiny">
              автор проекта:
            </p>

            <p class="paragraph-tiny">
              <b>вольф татьяна (hse’26)</b>
            </p>

            <p class="paragraph-tiny">
              куратор проекта:
            </p>

            <p class="paragraph-tiny">
              <b>вадим булгаков</b>
            </p>

          </div>

          <div class="about__footer__info-project">
            <p class="paragraph-tiny">Проект выполнен в образовательных целях. не продвигает использование подобных
              практик, не предоставляет инструкций по их внедрению.</p>
          </div>


        </div>

      </div>

    </div>
  </div>
  <div class="about__footer__logo" >
      <img
        ngSrc="/logos/badlogo-header.svg"
        alt=""
        width="129"
        height="43"
        priority
      >
    </div>
</div>
