/* ===== THIN 100 ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ===== LIGHT 300 ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* ===== REGULAR 400 ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* ===== MEDIUM 500 ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* ===== BOLD 700 ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ===== BLACK 900 ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ===== AIR (чаще всего 200) ===== */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-Air.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/AeonikPro/OTF/AeonikPro-AirItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
