.side-bar_wrap {
  display: grid;
  height: 100vh;
  //position: fixed;
  right: 0;
  grid-template-columns: auto auto auto auto auto ;
  z-index: 1;
  background: #E8E8E8;

}

.side-bar_wrap-element {
  display: flex;
  align-items: center;
  writing-mode: sideways-lr;
  padding: 0 21px 125px 21px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #000;
  font-family: "Aeonik Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: #B6FF51;
  }
  &:active {
    background: #83E100;
  }
}
