<section class="section-header">
  <div class="container header-container">
    <a routerLink="/">
      <img
        [ngSrc]="logo"
        alt=""
        width="129"
        height="43"
        priority
      >
    </a>
    <div class="header-links">
      <a
        routerLinkActive="link__active"
        routerLink="/about"
        class="header-link"
      >о проекте</a>
      <a
        routerLinkActive="link__active"
        routerLink="/study"
        class="header-link"
      >исследования</a>
    </div>

    <img src="icons/burger_icon.svg" class="icon__button burger__icon" alt="" (click)="toggleMenu()">

  </div>

  <div class="mobile-menu" [class.open]="isOpen">

    <a routerLink="/about" class="header-link-burger-wrap" (click)="closeMenu()">
      <div class="header-link-burger text-link">о проекте</div>
    </a>

    <a routerLink="/study" class="header-link-burger-wrap" (click)="closeMenu()">
      <div class="header-link-burger text-link">исследования</div>
    </a>

    <p class="header-link-burger text-link" style="margin-top: 35px;">Каталог:</p>

    @for (catalog of catalogs(); track catalog.id; let last = $last) {
    <a
      [routerLink]="'/'+catalog.slug"
      routerLinkActive="link__active"
      class=" catalog-element"
      (click)="closeMenu()"
    >
    <div class="header-link-burger catalog " [class.catalog]="!last" [class.last]="last">
        <span class="text-link">{{ catalog.title }}</span>
        <span class="text-link"> ({{catalog.titleAnotherLanguage}})</span>
    </div>
    </a>
    }

    <div class="header-year">2025 - {{nowDate | date: 'y'}}</div>
  </div>
</section>
