.section-header {
  border-bottom: 2px solid #000;
  background: #E8E8E8;
  z-index: 0;
}

.header-container {
  padding: 30px 55px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.burger__icon {
  display: none;
  cursor: pointer;
}


.header-links {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 70px;
}

.open {
  height: 100%;
}

.close {
  height: auto;
}

@media (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .header-container > .header-links{
    display: none;
  }
  .header-container {
    justify-content: space-between;
  }

  .burger__icon {
    display: block;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 109px;
  width: 100%;
  height: calc(100% - 107px);
  background: #E8E8E8;

  //transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.mobile-menu.open {
  //left: 0;
  display: flex;
  flex-direction: column;

  //transform: translateY(0);
}

.header-link-burger-wrap {
  padding: 35px 0;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.header-link-burger {
  margin: 0 20px;
}

.catalog-element {
  //border-bottom: 2px solid #000;
  padding-top: 20px;
  display: grid;
}

.last {
  padding-bottom: 35px;
}

.catalog {
  border-bottom: 2px solid;
  padding-bottom: 20px;
}

.text-link {
  color: #000;
  font-family: "Aeonik Pro", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.header-year {
  border-top: 2px solid #000;
  padding-top: 40px;
  text-align: center;
}
